version: '3.2'
networks:
  outside:
    external:
      name: "host"
services:
  prometheus:
    image: $PROMETHEUS_IMAGE
    networks:
      - outside
    deploy:
      placement:
        constraints:
          - node.hostname == slave1
    volumes:
      - ./prometheus.yml:/prometheus.yml
      - ./fabric_scrape_configs.yml:/fabric_scrape_configs.yml
      - ./node_scrape_configs.yml:/node_scrape_configs.yml
      - $PROM_RULES_DIR:/rules
    command: >
           /prometheus/prometheus
            -log.level=${PROM_LOGLEVEL}
            -config.file=/prometheus.yml
            -query.timeout=45s
            -query.max-concurrency=100
            -query.staleness-delta=${PROM_QUERYSTALENESS}
            -storage.local.chunk-encoding-version=2
            -storage.local.retention=${PROM_RETENTION_DURATION}
            -storage.local.path=/prometheus-data
            -storage.local.memory-chunks=${PROM_MEMORY_CHUNKS}
            -storage.local.max-chunks-to-persist=${PROM_MEMORY_CHUNKS_TO_PERSIST}
            -storage.local.index-cache-size.fingerprint-to-metric=209715200
            -storage.local.index-cache-size.fingerprint-to-timerange=104857600
            -storage.local.index-cache-size.label-name-to-label-values=209715200
            -storage.local.index-cache-size.label-pair-to-fingerprints=419430400
            -web.console.libraries=/go/src/github.com/prometheus/prometheus/console_libraries
            -web.listen-address=:9090
            -web.console.templates=/consoles

  exporter:
    image: $NODE_EXPORTER_IMAGE
    networks:
      - outside
    pid: host
    deploy:
        mode: global

  toolbelt:
    image: $TOOLBELT_IMAGE
    networks:
      - outside
    volumes:
     - $SPATIAL_PROJECT_DIR:/improbable/project
     - $HOME/.improbable/local_inspector:/root/.improbable/local_inspector
    command: >
           local launch
            --enable_pre_run_check=false
            --no_fabric
            --runtime_ip=slave1
            --master_ip=slave1
            --disable_networking
            --snapshot=/improbable/project/snapshots/$SNAPSHOT
            /improbable/project/configs/launch/$CONFIG_FILE
            --fabric_bundle_path=/improbable/project/build/assembly/fabric/fabric_bundle.zip
    deploy:
      placement:
        constraints:
          - node.hostname == slave1
 
  fabric-master:
    image: $FNANNY_IMAGE
    networks:
      - outside
    environment:
      - COREOS_PRIVATE_IPV4=master
      - COREOS_PUBLIC_IPV4=master
    # volumes:
    #   - ./master-logs:/improbable/logs
    command: $FNANNY_COMMAND --node=master
    deploy:
      placement:
        constraints:
          - node.hostname == master
 
  fabric-slave-1:
    image: $FNANNY_IMAGE
    networks:
      - outside
    environment:
      - COREOS_PRIVATE_IPV4=slave1
      - COREOS_PUBLIC_IPV4=slave1
    command: $FNANNY_COMMAND --node=slave1
    deploy:
      placement:
        constraints:
          - node.hostname == slave1

  fabric-slave-2:
      image: $FNANNY_IMAGE
      networks:
        - outside
      environment:
        - COREOS_PRIVATE_IPV4=slave2
        - COREOS_PUBLIC_IPV4=slave2
      command: $FNANNY_COMMAND --node=slave2
      deploy:
        placement:
          constraints:
            - node.hostname == slave2

  fabric-slave-3:
    image: $FNANNY_IMAGE
    networks:
      - outside
    environment:
      - COREOS_PRIVATE_IPV4=slave3
      - COREOS_PUBLIC_IPV4=slave3
    command: $FNANNY_COMMAND --node=slave3
    deploy:
      placement:
        constraints:
          - node.hostname == slave3
