- targets:
    - "master:9100"
    - "slave1:9100"
    - "slave2:9100"
    - "slave3:9100"
  labels:
        project: "local"
        cluster: "local"
        dpl: "local"
        app: "local"
        node_cat: "fabric"