#!/bin/sh
DIR="$( cd "$(dirname "$0")" ; pwd -P )"

usage() {
	echo "$(basename $0) <snapshot> <config_file>"
    exit 0
}

if [ "$#" -ne 2 ]; then
    usage
fi

export SNAPSHOT="$1"
SNAPSHOT_PATH="$DIR/snapshots/$SNAPSHOT"
if [ ! -f "$SNAPSHOT_PATH" ]; then
    echo "Snapshot file does not exist: $SNAPSHOT_PATH" >&2
    exit 1
fi

export CONFIG_FILE="$2"
CONFIG_PATH="$DIR/configs/launch/$CONFIG_FILE"
if [ ! -f "$CONFIG_PATH" ]; then
    echo "Configuration file does not exist: $CONFIG_PATH" >&2
    exit 1
fi

export SPATIAL_PROJECT_DIR="$DIR"
export TOOLBELT_IMAGE={{ docker_registry }}/toolbelt:{{ docker_images.toolbelt.tag }}
export FNANNY_IMAGE={{ docker_registry }}/fnanny:{{ docker_images.fnanny.tag }}
export PROMETHEUS_IMAGE={{ docker_registry }}/prometheus:{{ docker_images.prometheus.tag }}
export NODE_EXPORTER_IMAGE={{ docker_registry }}/node-exporter:{{ docker_images["node-exporter"].tag }}

export PROM_QUERYSTALENESS=300s
export PROM_LOGLEVEL=debug
physical_memory_kb=$(grep MemTotal /proc/meminfo | awk '{print $2}')

export PROM_MEMORY_CHUNKS=${PROM_MEMORY_CHUNKS-$(($physical_memory_kb / 8))}
export PROM_MEMORY_CHUNKS_TO_PERSIST=${PROM_MEMORY_CHUNKS_TO_PERSIST-$(($PROM_MEMORY_CHUNKS * 3 / 4))}
export PROM_RETENTION_DURATION=${PROM_RETENTION_DURATION-"216h0m0s"}

export PROM_RULES_DIR=~/prometheus_rules

docker-compose config > stack.yml
docker stack deploy --compose-file stack.yml fabric