logs/
build/

snapshots/*.snapshot

*.spatialos/

workers/**/bin/
workers/**/improbable/
workers/**/obj/

common/**/bin/
common/**/obj/

*.suo

*.userprefs
.vscode/*
.DS_Stores
.vs/*

packages/*

output/*.csv
output/*.pdf

.DS_Store
.idea
