- targets:
    - "master:5006"
    - "slave1:5006"
    - "slave2:5006"
    - "slave3:5006"
  labels:
        project: "local"
        cluster: "local"
        dpl: "local"
        app: "local"
        node_cat: "fabric"