all:
  hosts:
    master:
      ansible_host: 104.199.107.89
    slave1:
      ansible_host: 35.195.165.232
    slave2:
      ansible_host: 104.199.27.10
    slave3:
      ansible_host: 35.205.79.86
  children:
    manager:
      hosts:
        master:
    worker:
      hosts:
        slave1:
        slave2:
        slave3: